/* ---------- CSS MeetAndShare ----------*/
/* SECTIONS */
.body {
    background-color: #E1E2E1;
    color: #000000;
}

.navbar {
    background-color: #A93B47;
    color: #FFFFFF;
}

.navbar-title {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    color: white;
}

.i-menu {
    font-size: 30px
}

/* RATIUS */
.border-ratius {
    border-radius: .25rem;
}

/* BACKGROUND COLOR */
.darkred-bkcolor {
    background-color:#74001e;
}

.red-bkcolor {
    background-color: #A93B47;
}

.lightgrey-bkcolor {
    background-color: #F5F5F6;
}

/* COLOR */
.darkred-color {
    color:#74001e;
}

.red-color {
    color: #A93B47;
}

.white-color {
    color: #FFFFFF;
}

/* ELEMS */
.btn {
    background-color: #A93B47;
    color: #FFFFFF;
}

.btn-outline-secondary {
    background-color: #E9ECEF;
    color: #212529;
    border-color: #CED4DA;
    white-space: pre-wrap;
}

.btn-outline-secondary:hover {
    background-color: #A93B47;
    color: #FFFFFF;
    border-color: #A93B47;
}

.btn-delete {
    background-color: #74001e;
}

.btn-rate {
    font-size: 18px;
}

.ul {
    list-style: none;
}

.li {
    border-bottom: 1px solid #c2c2c3;
    font-size: 20px;
}

.li-img {
    border: 2px solid #c2c2c3;
    border-radius: 800px;
    overflow: hidden;
}

.span-lastmsg {
    font-size: 16px;
}

.span-numMsg {
    border-radius: 800px;
    overflow: hidden;
}

.font-view {
    font-size: 20px;
}

.img {
    border: 2px solid #c2c2c3;
    border-radius: .25rem;
}

.aficion {
    border-radius: 800px;
    padding: 0px 10px;
    color: #FFFFFF;
    background-color: #A93B47;
}

/* --- Puntuacion --- */
.wrapper {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 35px;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
  }
  
  .wrapper label {
    position: relative;
    float: right;
    color: #C8C8C8;
  }
  
  .wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .wrapper input:checked ~ label:before {
    color: #FFC107;
  }
  
  .wrapper label:hover ~ label:before {
    color: #ffdb70;
  }
  
  .wrapper label:hover:before {
    color: #FFC107;
  }